{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container section">
    <h2 class="secondary_text">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn accent_color" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
{% endblock %}
