.mymodal {
    width: 50% !important;
    height: 65% !important;
}

.addfriend-modal {
    width: 45% !important;
    height: 55% !important;
    /*overflow-y: hidden !important;*/
}

.dong-modal {
    width: 45% !important;
    height: 100% !important;
}

.addmember-modal {
    width: 45% !important;
    height: 55% !important;
}

.group-settleup-modal {
    width: 50% !important;
    height: 50% !important;
}

/*.ugroup-modal {*/
    /*width: 30% !important;*/
    /*height: 40% !important;*/
/*}*/

.bottom-border {
    border-bottom: 1px solid lightgray !important;
}

.owe-color {
    color: orangered;
}

.borderless-collection {
    border-top:0 !important;
    border-bottom:0 !important;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.image-blurred-edge {
    width: 200px;
    height: 200px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}

.tooltip-right {
    position: relative;
    display: inline-block;
}

.tooltip-right .tooltiptext-right {
    opacity: 0;
    transition: opacity .6s;
    visibility: hidden;
    width: 250px;
    background-color: #323232;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 110%;
}

.tooltip-right .tooltiptext-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #323232 transparent transparent;
}

.tooltip-right:hover .tooltiptext-right {
    opacity: 1;
    visibility: visible;
}

.tooltip-left {
    position: relative;
    display: inline-block;
}

.tooltip-left .tooltiptext-left {
    opacity: 0;
    transition: opacity .6s;
    visibility: hidden;
    width: 250px;
    background-color: #323232;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 110%;
}

.tooltip-left .tooltiptext-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #323232;
}

.tooltip-left:hover .tooltiptext-left {
    opacity: 1;
    visibility: visible;
}
