<div>
    <div class="row">
{#        <div class="col s3">#}
{##}
{#        </div>#}
        <div class="col s9">
            <p class="secondary-icons-text">{{ dong.name }}</p>
            <h5 class="secondary_text">{{ dong_total }}</h5>
            <span class="secondary_text">Added by {{ dong.owner }} on {{dong.get_date.month}} {{dong.get_date.day}}, {{dong.get_date.year}} </span>
        </div>
    </div>
    <div class="row">
        <div class="collection">
            {% for elem in participants %}
                <a href="#!" class="collection-item secondary_text">
                    <img class="image-blurred-edge" style="height: 4%; width: 5%" src="{{ elem.user.get_picture }}"/>
                    <b>{{ elem.user.username }}</b>
                    {% if elem.paid > 0 %}
                        <span class="green-text">paid <b>{{ elem.paid }}</b></span>
                        {% if elem.owes > 0 %}
                            and
                        {% endif %}
                    {% endif %}
                    {% if elem.owes > 0 %}
                        <span class="red-text">owes <b>{{ elem.owes }}</b></span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>