{% extends 'base.html' %}
{% load static %}
{% load dong_tags %}

{% block title %}
    {{ group.name }}
{% endblock %}


{% block additional_header %}
    <script src="{% static 'js/group.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row" style="margin-bottom: unset">
        <div class="col s12 light_primary_color" style="height: 160px; border-bottom: 1px solid lightgrey; padding-top: 6%">
{#            <div class="card-panel light_primary_color row">#}
                <span class="primary_text col s8">
                    <h4 style="margin: 0px;">{{ group.name }}</h4>

                    <span class="secondary_text">
                        {{ group.description }}
                        <a class="modal-trigger" href="#modal-update">
                            <i style="font-size: 20px;" class="material-icons secondary_text waves-effect">edit</i>
                        </a>
                    </span>
                    <br>
                    <div data-step="3" data-intro="Group Notifications And Notes" class="left tooltip-left">
                        <span class="tooltiptext-left">You have {{ new_note_num }} new note in this group</span>
                        <a onclick="myf()" class="modal-trigger" href="#modal-notes">
                            <span id="new-note" class="new badge left" style="margin-left: 0%">{{ new_note_num }}</span>
                        </a>
                    </div>
                    <input type="hidden" value="{{ group.id }}" id="group_id">
                    <input type="hidden" value="{{ user.id }}" id="user_id">
                    <div  style="margin-left: 1%;" class="left tooltip-right">
                        <span class="tooltiptext-right">Make New Note</span>
                        <a class="modal-trigger" href="#modal-new-note">
                            <i style="font-size: 20px;" class="material-icons waves-effect primary_text">add_circle_outline</i>
                        </a>
                    </div>
                </span>
                <span class="col s4">
                    <a data-step="1" data-intro="Add Dong To Group" style="margin-bottom: 10%"
                       class=" waves-effect waves-light btn text_icons dark_primary_color btn-flat modal-trigger right"
                       href="#cdong-modal-group">Add Dong</a>
                    <a data-step="2" data-intro="Settle Up In Group" style="margin-bottom: 10%"
                       class="accent_color text_icons waves-effect waves-light btn btn-flat modal-trigger right"
                       href="#modal-settle-up">Settle Up</a>
                </span>
{#            </div>#}
        </div>
    </div>

    {% if dongs %}
        <ul data-step="5" data-intro="Group Dongs Here" class="collapsible" style="margin: -2%; box-shadow: unset">
            {% for dong in dongs %}
                <li>
                    <div class="collapsible-header">
                        <a style="font-size: 90%"><b>{{ dong.dong.get_date.month }} {{ dong.dong.get_date.day }}</b></a>
                        <a style="font-size: 60%; margin-right: 1%"><b>{{ dong.dong.get_date.year }}</b></a>
                        <i class="material-icons">local_atm</i>
                        {{ dong.dong.name }}
                        {% if dong.counting > 0 %}
                            <span style="width: 20%" class="new badge" data-badge-caption="you lent" dir="rtl">{{ dong.counting }}</span>
                        {% elif dong.counting == 0 %}
                            <span style="width: 20%" class="badge" data-badge-caption="not involved" dir="rtl"></span>
                        {% else %}
                            <span style="width: 20%" class="new badge red" data-badge-caption="you owe"
                                  dir="rtl">{{ dong.counting }}</span>
                        {% endif %}
                    </div>
                    <div class="collapsible-body">
                        {% dong_info dong.dong %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    <!-- Add Member Modal -->
    <div id="modal-add-member" class="modal addmember-modal">
        <form name="add-member-form" method="post" action="{% url 'group:add_member' %}">
            {% csrf_token %}
            <div class="modal-content container">
                <h4 class="section" style="text-align: center; margin-bottom: 40px">Add members</h4>
                <div class="input-field section">
                    <select multiple name="friends" required>
                        <option value="" disabled selected>Add friends</option>
                        {% for friend in friends %}
                            <option data-icon="{{ friend.get_picture }}"
                                    value="{{ friend.id }}">{{ friend.username }}</option>
                        {% endfor %}
                    </select>
                    <label>Add your friends to group</label>
                </div>
                <div class="modal-footer">
                    <button onclick="form_validity('add-member-form')"
                            class="modal-footer btn waves-effect waves-light blue" style="text-align: center"
                            type="submit">
                        Add members
                        <i class="large material-icons right">send</i>
                    </button>
                </div>
            </div>
            <input type="hidden" value="{{ group.id }}" name="group_id">
        </form>
    </div>


    <!-- Settle Up Modal -->
    <div id="modal-settle-up" class="modal group-settleup-modal">
        <div class="container modal-content">
            <h4 style="text-align: center">Settle up</h4>
            <form method="post" action="{% url 'group:settle_up' %}">
                {% csrf_token %}
                <div class="row section">
                    <span class="section" style="margin-top: 20px">
                        Are you sure you want to settle up all group dongs that you are involved in?
                    </span>
                </div>
                <div class="row section">
                    <div class="col s6">
                        <button class="modal-footer btn waves-effect waves-light red modal-close"
                                type="button" style="text-align: center">
                            No
                            <i class="large material-icons right">close</i>
                        </button>
                    </div>
                    <div class="col s6">
                        <button class="modal-footer btn waves-effect waves-light green" style="text-align: center"
                                type="submit">
                            Yes
                            <i class="large material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <input type="hidden" value="{{ group.id }}" name="group_id">
            </form>
        </div>
    </div>


    <!-- Update Group Modal -->
    <div id="modal-update" class="modal ugroup-modal">
        <div class="modal-content container">
            <h4 style="text-align: center">Update group</h4>
            <form method="post" action="{% url 'group:update' %}">
                {% csrf_token %}
                <div class="row section">
                    <div class="input-field col s12">
                        <textarea id="group-description" name="description" type="" maxlength="50"
                                  class="validate materialize-textarea">{{ group.description }}</textarea>
                        <label for="group-description">Description</label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col s6">
                        <button class="modal-footer btn waves-effect waves-light red modal-close" style="text-align: center" type="button">
                            Cancel
                            <i class="large material-icons right">close</i>
                        </button>
                    </div>
                    <div class="col s6">
                        <button class="modal-footer btn waves-effect waves-light green" style="text-align: center" type="submit">
                            Change
                            <i class="large material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <input type="hidden" value="{{ group.id }}" name="group_id">
            </form>
        </div>
    </div>


    <!-- Notes Modal -->
    <div id="modal-notes" class="modal notes-modal">
        <div class="modal-content container">
            <h4 style="text-align: center">Group Notes</h4>
            {% for note in notes.new %}
                <div class="row section">
                    <div class="col s12">
                        <div class="card-panel light_primary_color" style="margin-bottom: -5%">
                            <span class="white-text">{{ note.note }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for note in notes.old %}
                <div class="row section">
                    <div class="col s12">
                        <div class="card-panel" style="margin-bottom: -5%">
                            <span class="black-text">{{ note.note }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- Make new group note Modal -->
    <div id="modal-new-note" class="modal new-note-modal">
        <div class="modal-content container">
            <h4 style="text-align: center">Make New Note</h4>
            <form method="post" action="{% url 'group:new_note' %}">
                {% csrf_token %}
                <div class="row section">
                    <div class="input-field col s12">
                        <textarea id="note-content" name="content" required type="" maxlength="512"
                                  class="validate materialize-textarea"></textarea>
                        <label for="note-content">Content</label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col s6">
                        <button class="modal-footer btn waves-effect waves-light red modal-close" style="text-align: center" type="button">
                            Cancel
                            <i class="large material-icons right">close</i>
                        </button>
                    </div>
                    <div class="col s6">
                        <button class="modal-footer btn waves-effect waves-light green" style="text-align: center" type="submit">
                            Submit
                            <i class="large material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <input type="hidden" value="{{ group.id }}" name="group_id">
            </form>
        </div>
    </div>

   <div id="cdong-modal-group" class="modal dong-modal">
        <div class="modal-content container">
            <h5 style="text-align: center">CREATE NEW DONG</h5>

            <form name="create-dong-form" class="left-align" onsubmit="return validateMyForm_group()" method="post" id="frm1_group" action="{% url 'dng:create' %}">
                <input type="hidden" id="fname_g" name="fname" value="{{ user.username }}" ><br>
{#                 <input type="hidden" id="req_type_for_create_g" name="req_type_for_create" value="{{ group.id }} ><br>#}
                {% csrf_token %}
                <div class="row section">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">description</i>
                        <input id="dong-descriptiono_g" name="name" type="text" class="validate" required>
                        <label for="dong-descriptiono_g">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="price_g" name="price" type="text" class="validate" pattern="([0-9])*" required oninput="CalEquallyPrice_group()">
                        <label for="price_g">Total price</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">people</i>
                        <select multiple id="numb_g" name="numb" onchange="myFunction_group()" required >
                            <option value="" disabled selected></option>


                            {% for member in group.get_members %}
                                {% if member != user %}
                                    <option value="{{ member.username }}" data-icon="{{ member.get_picture }}"
                                            class="circle">{{ member.username }}</option>
                                {% endif %}
                            {% endfor %}

                        </select>
                        <label>Participants</label>
                    </div>
                    <div class="input-field col s12">
                        <select id="numb2_g" name="numb2" required></select>
                        <label>Select Who Paid</label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" id="gcheckbox_g" name="gcheckbox" value="false"
                                   onclick="CreateDongGroup_group()"/>
                            <span>This Dong is a Group Dong</span>
                        </label>
                        <div class="input-field col s12">
                        <select id="groupcheck_g" name="groupcheck">
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        </select>
                        <label>Select Who Paid</label>
                        </div>
                    </div>
                    <div >
                        <label>
                            <input type="checkbox" id="not_equally_g" name="not_equally" value="false"
                                   onclick="MakeDongNotEqually_group()"/>
                            <span>Split Not Equally</span>
                            <br>
                            <span>How much each participant has to pay from the total price?</span>
                        </label>
                        <br>
                    <div id="inputs_for_not_equally_g"></div>
                    </div>
                    <div id="sum_of_prices_g">
                        <label id="sum_label_g">

                        </label>
                    </div>
                </div>

                <div class="section ">
                    <button onclick="form_validity('create-dong-form')"
                            id="submit_button_g"
                            class="modal-footer btn waves-effect waves-light accent_color" style="text-align: center"
                            type="submit" >
                        Create Dong
                        <i class="large material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block rmenu %}
    <div class="col s3">

        <div  class="container center">

            <table data-step="4" data-intro="Group Members And Their Dues" style="margin-top: 50px">
                <thead>
                <tr>
                    <th class="secondary_text">
                        <a class="modal-trigger" href="#modal-add-member">
                            <i style="font-size: 25px;" class="material-icons right secondary_text waves-effect">person_add</i>
                        </a>
                        MEMBERS
                    </th>
                </tr>
                </thead>

                {% for member in members %}
                    <tr style="border: none;">
                        <td class="left tooltip-left" style="padding: 1px">
                            <span class="tooltiptext-left">{{ member.user.email }}</span>
                            <a href="{% url 'UserProfile:get_friend_detail' member.user.id %}">
                            <div class="chip light_primary_color center waves-effect waves-green" style="width: 220px;height: auto">
                                {#                                <i class="material-icons text_icons left">person</i>#}
                                <img class="image-blurred-edge" src="{{ member.user.get_picture }}"/>
                                {{ member.user.username }}<br>
                                {% if member.counting >= 0 %}
                                    <span class="black-text">
                                        Gets Back {{ member.counting }}
                                    </span>
                                {% else %}
                                    <span class="red-text">
                                        Owes {{ member.counting }}
                                    </span>
                                {% endif %}
                            </div>
                        </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>


        </div>

    </div>

{% endblock %}